* {
    box-sizing: border-box;
}
button {
    all: unset; 
    cursor: pointer;
    font-size: 0.9rem;
  }
  

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: sans-serif;
    color: white;
    width: 100%;
    font-size: 18px;
}

:root {
    --content-bg-color: #1e1e1e;
    --sidebar-bg-color: #262626;
    --project-hover-color: #b2920423;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    width: 200px;
    height: 100vh; 
    position: sticky;
    text-align: left;
    top: 0;
    padding: 10px;
    gap: 12px;
}

.myProjects {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar button:hover{
    background-color: var(--project-hover-color);
}

.content {
    background-color: var(--content-bg-color);
    flex: 1;
    overflow-y: auto; 
}

.sidebar div:nth-child(1){
    margin-bottom: 15px;
}

.sidebar button {
    border-radius: 5px;
    padding: 5px;
}