* {
    box-sizing: border-box;
}
button {
    all: unset; 
    cursor: pointer;
    font-size: 0.7rem;
  }
  

html, body {
    height: 100%;
}

body {
    display: flex;
    font-family: sans-serif;
    color: white;
    width: 100%;
    font-size: 18px;
}

:root {
    --content-bg-color: #1e1e1e;
    --sidebar-bg-color: #262626;
    --project-hover-color: #b2920423;
    --new-task-btn-font-color: #de4c4a;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    width: 180px;
    height: 100vh; 
    position: sticky;
    text-align: left;
    top: 0;
    padding: 10px;
    gap: 8px;
}

.myProjects {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar button:hover{
    background-color: var(--project-hover-color);
}

.content {
    background-color: var(--content-bg-color);
    flex: 1;
    overflow-y: auto; 
}

.sidebar div:nth-child(1){
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}

.sidebar button {
    border-radius: 5px;
    padding: 5px;
}

#newProject {
    font-weight: bold;
    color: lightgray;
    font-size: 0.75rem;
}

#newProject::after {
    content: "+";
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.2s ease, color 0.2s ease;
    color: #888;
    scale: 1.2;
}

#newProject:hover::after {
    transform: rotate(90deg) scale(1.3);
    color: var(--new-task-btn-font-color)
}

#newTask::before {
    content: "+";
    color: var(--new-task-btn-font-color);
    margin-right: 6px;
    scale: 1.2;
    display: inline-block; 
    transition: transform 0.2s ease, color 0.2s ease;
}

#newTask:hover::before {
    transform: rotate(90deg) scale(1.3); 
    color: var(--new-task-btn-font-color)
}

#newTask {
    color: var(--new-task-btn-font-color);
    font-weight: bold;
}

#newTask::before {
    content: "+";
    color: var(--new-task-btn-font-color);
    margin-right: 6px;
}



.myProjects .project::before{
    content: "#";
    color: gray;
    margin-right: 6px;
    margin-left: 8px;
}

.active {
    background-color:#de4c4a38;
    color: var(--new-task-btn-font-color);
    font-weight: bold;
}


.active:hover {

    background-color:#de4c4a38 !important;
    color: var(--new-task-btn-font-color);
    font-weight: bold;
}

.project-item {
    display: flex;
    width: 100%;
    gap: 30%;
}

.project-item .project {
    flex: 1;
}

.project-delete-btn {
    background: transparent;
    border: none;
    color: #ff5555;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .project-delete-btn:hover {
    background-color: #88888831 !important;
    transform: scale(1.1);
    color: #ff0000;
  }